* {box-sizing: border-box;}

/* Add in fonts*/

@font-face {
    font-family: 'olympic';
    src: url('fonts/OLYMB___.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lumina';
    src: url('fonts/LUMINA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    --color-lightPurple: #9C8C9C;
    --color-darkPurple: #453E45;
    --color-light: #fafafa;
    --color-dark: #131313;
    --color-grey: grey;
    /* Add in font thingys*/
    --font-special: 'olympic', 'Times New Roman', Times, serif;
    --font--normal: 'lumina', 'Times New Roman', Times, serif;
}

body {
    background-color: var(--color-lightPurple);
    color: var(--color-dark);
    margin: 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body nav {
    background-color: var(--color-darkPurple);
    z-index: 1;
}

nav {
    position: static;
    width: 100%;
    top: 0;

    font-size: 24px;
}

nav ul li {
    display: grid;
    grid-template-columns: auto auto;

    font-family: var(--font--normal);

    column-gap: 60px;
}

nav ul li a#home {
    color: var(--color-light);
    text-decoration: none;
}

nav ul li button#help {
    display: grid;
    justify-items: end;

    padding-right: 32px;

    background-color: var(--color-darkPurple);
    color: var(--color-light);

    font-family: var(--font--normal);
    font-size: 24px;

    border: none;
}

main {
    margin: 65px auto 45px;
    
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
} 

.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: var(--color-dark); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.help_content {
    background-color: var(--color-darkPurple);
    margin: 15% auto; 
    padding: 24px;
    width: 80%; 

    font-family: var(--font--normal);
    color: var(--color-light);
    font-size: 1.5rem;

    display: grid;
    grid-template-rows: 5% auto;
    justify-items: end;
}

#xbutton {
    width: 16px;
    border: none;
    margin-right: 20px;

    background-color: var(--color-darkPurple);
    color: var(--color-light);

    font-family: var(--font--normal);
    font-size: 24px;

    display: grid;
    justify-items: end;
}

#xbutton:hover {
    color: var(--color-grey);
    text-decoration: none;
    cursor: pointer;
}

.helpPara {
    display: grid;
    justify-items: center;
    text-align: center;
}

.control {
    font-family: var(--font--normal);
    color: var(--color-dark);   
}

#submitBtn {
    background-color: var(--color-lightPurple);
    border-color: var(--color-darkPurple);
    color: var(--color-dark);
    font-family: var(--font--normal);
    font-size: 1rem;

    display: flex;
    align-content: end;

}

input {
    background-color: var(--color-lightPurple);
    border-color: var(--color-darkPurple);
    color: var(--color-darkPurple);
    font-size: 1rem;
    margin-top: 0.5rem;
    outline: none;
    padding: 0.75rem 0.5rem;
    width: 100%;
  }

.submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.gods button {
    margin: 0;
    padding: 0;
    border: none;
    display: contents;
  }

img:hover {
    box-shadow: 8px 4px 4px var(--color-darkPurple);
  }

#newPart {
    color: var(--color-dark);
    font-size: 1rem;
    font-family: var(--font-special);
    
    background-color: var(--color-lightPurple);
    border: thick double var(--color-darkPurple);
    z-index: 1;

    width: 70ch;
    height:min-content;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    padding: 24px 36px;
}

#xbtn {
    width: 16px;
    border: none;
    margin-right: 20px;

    background-color: var(--color-lightPurple);
    color: var(--color-dark);

    font-family: var(--font--normal);
    font-size: 24px;

    display: grid;
    justify-content: end;
}

p.text {
    padding: 36px auto;
}

footer {
    background-color: var(--color-darkPurple);
    
    bottom: 0;
    width: 100%;
}

footer p {
    color: var(--color-light);
    padding-left: 16px;
    font-family: var(--font--normal);
    font-size: 16px;
}

footer.index {
    position: static;
}
